<template>
  <div>
    <hr />
    <b-row>
      <b-col cols="12">
        <h4 class="text-center">Buyer currency: {{ targetCurrency }}</h4>
      </b-col>
      <b-col cols="12" class="text-center">
        <router-link to="/">Back to main menu</router-link>
      </b-col>
    </b-row>
    <hr />
    <b-form @submit="onSubmit">
      <b-row>
        <b-col cols="12" md="6">
          <b-form-group
            id="currency-form-group"
            label="Pick currency you want to buy"
            label-for="currency-input"
          >
            <b-form-select
              id="currency-input"
              v-model="form.initialCurrency"
              :options="availableConversionCurrencies"
              required
              @change="onInitialCurrencyChange"
            >
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="6">
          <b-form-group
            id="amount-form-group"
            label="Amount"
            label-for="amount-input"
          >
            <b-form-input
              id="amount-input"
              v-model="form.amount"
              type="number"
              step="0.01"
              required
              @keyup="onNewAmount"
              @mouseup="onNewAmount"
            >
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col
          cols="auto"
          class="pb-3 text-info font-weight-bold calculated-info"
        >
          <transition name="fade">
            <span v-if="calculatedAmount && initialCurrency">
              Calculated {{ calculatedAmount | displayedValue }}
              {{ targetCurrency }}
            </span>
          </transition>
        </b-col>
        <b-col cols="12" class="py-3">
          <b-row>
            <b-col cols="12" md="auto">
              <b-button
                type="submit"
                variant="primary"
                :disabled="!calculatedAmount"
              >
                Add to the list
              </b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-form>
    <b-row class="py-4">
      <b-col cols="12">
        <ConversionsTable
          :calculatedConversions="calculatedConversions"
          @removeConversion="removeConversion"
        />
      </b-col>
      <b-col
        cols="12"
        class="text-primary font-weight-bold text-right font-size-20"
      >
        <hr />
        <span
          >Total price: {{ sumConversions | displayedValue }}
          {{ targetCurrency }}</span
        >
      </b-col>
    </b-row>
    <transition name="fade">
      <b-row
        v-if="calculatedConversions.length"
        class="justify-content-between justify-content-md-end py-3"
      >
        <b-col cols="auto">
          <b-button variant="danger" @click="resetTable">Reset table</b-button>
        </b-col>
        <b-col cols="auto">
          <b-button variant="success" @click="handleBuy"
            >Buy listed currencies</b-button
          >
        </b-col>
      </b-row>
    </transition>

    <div>
      <b-modal
        id="modal-bought"
        title="Congratulations!"
        ok-title="Continue buying"
        cancel-title="Back to main menu"
        @cancel="redirectToHome"
      >
        <div class="text-center">
          <BaseIcon
            iconName="check-circle"
            width="96"
            height="96"
            color="green"
          />
          <p class="mt-4">You've successfully bought listed currencies!</p>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import ConversionsTable from "@/components/ConversionsTable.vue"
import CurrenciesService from "@/services/CurrenciesService.js"
import ConverterSettings from "@/settings/ConverterSettings.js"
import { uuid } from "vue-uuid"
import { mapActions } from "vuex"

export default {
  props: {
    currency: String
  },
  components: {
    ConversionsTable
  },
  data() {
    return {
      conversionRates: null,
      form: {
        amount: null,
        initialCurrency: ""
      },
      initialAmount: Number,
      initialCurrency: "",
      calculatedAmount: 0,
      calculatedConversions: [],
      availableConversionCurrencies: ConverterSettings.availableConversionCurrencies.filter(
        currency => {
          return currency.value !== this.currency
        }
      )
    }
  },
  created() {
    CurrenciesService.getCurrencyData(this.targetCurrency)
      .then(response => {
        this.conversionRates = response.data.rates
      })
      .catch(error => {
        console.log("error: ", error)
      })
  },
  computed: {
    targetCurrency() {
      return this.currency.toUpperCase()
    },
    sumConversions() {
      return (
        Math.round(
          this.calculatedConversions.reduce(
            (sum, current) => sum + current.valueTo,
            0
          ) * 100
        ) / 100
      )
    }
  },
  methods: {
    ...mapActions(["addPurchase"]),
    onSubmit(event) {
      event.preventDefault()
      if (this.initialAmount && this.initialCurrency) {
        this.calculatedConversions.push({
          id: uuid.v1(),
          date: new Date(),
          currencyFrom: this.initialCurrency,
          currencyTo: this.targetCurrency,
          valueFrom: this.initialAmount,
          valueTo: this.convertToTargetCurrency(
            this.initialAmount,
            this.initialCurrency
          )
        })
      }
    },
    onNewAmount(event) {
      if (Number(event.target.value) > 0) {
        this.initialAmount = event.target.value
        this.calculatedAmount = this.initialCurrency
          ? this.convertToTargetCurrency(
              this.initialAmount,
              this.initialCurrency
            )
          : 0
      } else {
        this.calculatedAmount = 0
      }
    },
    onInitialCurrencyChange(event) {
      this.initialCurrency = event
      this.calculatedAmount = this.initialAmount
        ? this.convertToTargetCurrency(this.initialAmount, this.initialCurrency)
        : 0
    },
    convertToTargetCurrency(amount, currencyFrom) {
      const conversionRate = this.conversionRates[currencyFrom]
      return Math.round((amount / conversionRate) * 100) / 100
    },
    resetTable() {
      this.calculatedConversions = []
    },
    removeConversion(id) {
      this.calculatedConversions = this.calculatedConversions.filter(
        conversion => {
          return conversion.id !== id
        }
      )
    },
    redirectToHome() {
      this.$router.push("/")
    },
    handleBuy() {
      this.$bvModal.show("modal-bought")
      this.calculatedConversions.forEach(conversion => {
        this.addPurchase(conversion)
      })
      this.resetTable()
    }
  }
}
</script>

<style lang="scss" scoped>
.calculated-info {
  height: 40px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
