<template>
  <div>
    <b-row class="justify-content-end">
      <b-col cols="12" md="auto" class="d-flex align-items-center">
        <span class="text-center">Pick your currency</span>
      </b-col>
      <b-col cols="12" md="4" class="py-3 py-md-0">
        <div>
          <b-form-select
            v-model="selected"
            :options="availableConversionCurrencies"
          ></b-form-select>
        </div>
      </b-col>
      <b-col cols="12" md="4">
        <b-button
          block
          variant="primary"
          :to="{ name: 'converter', params: { currency: selected } }"
          :disabled="!selected"
          >Start</b-button
        >
      </b-col>
    </b-row>
    <b-row v-if="purchases.length">
      <b-col cols="12">
        <hr class="my-5" />
        <h4>
          {{ `Recent purchases (${this.countPurchases})` }}
        </h4>
      </b-col>
      <b-col cols="12">
        <ul class="bg-gray p-3 mb-0">
          <li v-for="purchase in purchases" :key="purchase.id" class="mb-3 p-3">
            {{ purchase.date | displayedDateTime }} bought
            <b
              >{{ purchase.valueFrom | displayedValue }}
              {{ purchase.currencyFrom }}</b
            >
            for
            <b>
              {{ purchase.valueTo | displayedValue }}
              {{ purchase.currencyTo }}</b
            >
          </li>
        </ul>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import ConverterSettings from "@/settings/ConverterSettings.js"
import { mapState, mapGetters } from "vuex"

export default {
  data() {
    return {
      selected: null,
      availableConversionCurrencies:
        ConverterSettings.availableConversionCurrencies
    }
  },
  computed: {
    ...mapState(["purchases"]),
    ...mapGetters(["countPurchases"])
  }
}
</script>
<style lang="scss" scoped>
ul {
  list-style-type: none;
}

ul li {
  padding: 20px;
  background: white;
  margin-bottom: 8px;
}

.bg-gray {
  background: #f4f4f4;
}
</style>
