<template>
  <span class="icon-container" v-html="svg"></span>
</template>

<script>
import feather from "feather-icons"
export default {
  props: {
    iconName: String,
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
    color: {
      type: String,
      default: "black"
    },
    opacity: {
      type: [Number, String],
      default: 1
    }
  },
  computed: {
    svg() {
      return feather.icons[this.iconName].toSvg({
        class: "icon",
        width: this.width,
        height: this.height,
        color: this.color,
        opacity: this.opacity
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.icon-container {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
.icon {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-right: 6px;
}
</style>
