<template>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Products</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <transition-group name="list" tag="tbody">
      <tr
        v-for="calculatedConversion in calculatedConversions"
        :key="calculatedConversion.id"
      >
        <td>
          {{ calculatedConversion.valueFrom | displayedValue }}
          {{ calculatedConversion.currencyFrom }}
        </td>
        <td>
          {{ calculatedConversion.valueTo | displayedValue }}
          {{ calculatedConversion.currencyTo }}
        </td>
        <td>
          <div
            class="cursor-pointer"
            @click="sendConversionIdToRemove(calculatedConversion.id)"
          >
            <BaseIcon iconName="delete" width="16" height="16" color="tomato" />
          </div>
        </td>
      </tr>
    </transition-group>
  </table>
</template>

<script>
export default {
  props: {
    calculatedConversions: Array
  },
  methods: {
    sendConversionIdToRemove(conversionId) {
      this.$emit("removeConversion", conversionId)
    }
  }
}
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
