<template>
  <div id="app">
    <b-container>
      <b-row class="justify-content-center">
        <b-col cols="auto" class="pt-3 pb-3">
          <h1 class="text-center">
            <BaseIcon
              iconName="activity"
              width="48"
              height="48"
              opacity="0.5"
            />
            Vue Multi-Currency Shop
          </h1>
          <h6 class="text-right">by Krzysztof Kobus</h6>
        </b-col>
      </b-row>
      <router-view />
    </b-container>
  </div>
</template>
<style lang="scss">
.font-size-20 {
  font-size: 20px;
}

.font-size-12 {
  font-size: 12px;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
